<AuthorizeView>
    <Authorized>
        <a href="MicrosoftIdentity/Account/EditProfile">
            Hello @context.User.Claims.FirstOrDefault(c => c.Type.Contains("givenname"))?.Value
        </a>
        <a href="MicrosoftIdentity/Account/Signout">Log Out</a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn">Log In</a>
    </NotAuthorized>
</AuthorizeView>
